
    .carousel-root{
        height: 100%;

        .slider-wrapper , .axis-horizontal, .carousel, .carousel-slider, .slider, .slide div, .carousel .slide img{
            height: 100%;
        }

        .carousel .slide img{
            object-fit: contain;
        }
        .control-dots{
            transform: translateY(-30px);
            opacity: 50;

            .dot{
                background-color: gray;
            }
            .selected{
                background-color: black;
            }
        }

        
        .carousel.carousel-slider .control-arrow{
            background-color: rgba(0,0,0,0.5);
        }
}